<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.mult.blog.service.dao.CommentsMapper">
  <resultMap id="BaseResultMap" type="com.mult.blog.service.bean.Comments">
    <!--@mbg.generated-->
    <!--@Table comments-->
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="post_id" jdbcType="BIGINT" property="postId" />
    <result column="commenter_name" jdbcType="VARCHAR" property="commenterName" />
    <result column="commenter_email" jdbcType="VARCHAR" property="commenterEmail" />
    <result column="content" jdbcType="LONGVARCHAR" property="content" />
    <result column="created_at" jdbcType="TIMESTAMP" property="createdAt" />
    <result column="updated_at" jdbcType="TIMESTAMP" property="updatedAt" />
  </resultMap>
  <sql id="Base_Column_List">
    <!--@mbg.generated-->
    id, post_id, commenter_name, commenter_email, content, created_at, updated_at
  </sql>


</mapper>